@model UserWebModel
@{
    ViewBag.Title = "Простейшая гипермедийная валидация";
}

<div class="p-2 bg-light border rounded">
    <h2>@ViewBag.Title</h2>

    <partial name="Partial/RegistrationPartial" model="Model" />
</div>