@model UserWebModel

<form asp-action="Registration" method="post"
      hx-target="this"
      hx-swap="outerHTML">
    <h5>Регистрация пользователя</h5>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="my-1">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control"
               hx-post hx-action="Registration"
               hx-trigger="change, keyup delay:500ms changed"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
        
    <div class="my-1">
        <label asp-for="BirthDay" class="form-label"></label>
        <input asp-for="BirthDay" class="form-control"
               hx-post hx-action="Registration"/>
        <span asp-validation-for="BirthDay" class="text-danger"></span>
    </div>
        
    <div class="form-check my-1">
        <input asp-for="IsTermsAccepted" class="form-check-input" 
               hx-post hx-action="Registration"/>
        <label asp-for="IsTermsAccepted" class="form-check-label"></label>
        <span asp-validation-for="IsTermsAccepted" class="text-danger"></span>
    </div>

    <div>
        <input class="btn btn-primary my-2" type="submit" value="Зарегистрироваться" />
    </div>
</form>
