@{
    ViewBag.Title = "Главная";
}

<div class="my-4 p-5 bg-secondary text-white rounded">
    <h1 class="text-center">Опытное приложение</h1>
    <p>
        Опытно-экспериментальное приложение для изучения новых 
        способов валидации моделей на основе гипермедийных систем HTMX.
    </p>
</div>

